
language: node_js
node_js:
- "12.4.0"

install:
- npm install newman

before_script:
- node --version
- npm --version
- node_modules/.bin/newman --version

script:
- node_modules/.bin/newman run api_test/API_smoke_test.postman_collection.json -e tests/QA1.postman_environment.json --env-var "userEmail=USER_EMAIL" --env-var "loginPw=USER_PASSWORD"